deepxde-master.zip
__pycache__/
*.pyc
*.pt
*.pth
*.ckpt
*.npz
*.npy
*.log
screen.log
screenlog.*
*.bak_*
*.zip
*.tar
*.tar.gz
*.tgz
benchmark/runs/
benchmark/summary/
benchmark/__pycache__/
deepxde-master/exp/
benchmark/images/
boundary_uncertainty_pinn/exp/
boundary_uncertainty_pinn/_discarded_exp_snapshots/
**/model/
**/_tmp_*
